<form method="post" action="{{ path('app_pedido_delete', {'id': pedido.id}) }}" onsubmit="return confirm('¿Seguro que desea eliminar este pedido?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pedido.id) }}">
    <button class="btn btn-danger">Eliminar</button>
</form>
