{% extends 'menu.html.twig' %}


{% block contenido %}


	<div class="container h-100 ">
		<div class="row h-100 justify-content-center aling-items-center">
			<div class="col-sm-12 col-md-12 col-lg-9 bg-white rounded my-3 p-5">

				<h1 class="tituloLogin">Editar Cliente
					<a class="tituloLoginBotonCerrar" href="/pedido">
						<i class="fa fa-times" aria-hidden="true"></i>

					</a>
				</h1>

				{{ include('cliente/_form.html.twig', {'button_label': 'Update'}) }}

                <br>

				{{ include('cliente/_delete_form.html.twig') }}

                	<a href="{{ path('app_cliente_index') }}">Back to list</a>

			</div>
		</div>
	</div>


{% endblock %}
